.example-print {
    display: none;
}

.label {width:2cm;height:4cm;border:1px solid black; padding:0.5cm;}



@media print {

    @page {
        margin-top: 0;
        margin-bottom: 0;
      }
    .example-screen {
       display: none;
    }
    .example-print {
       display: block;
    }
    
    .label {width:2cm;height:4cm;border:1px solid rgb(185, 33, 33); padding:0.5cm;}
}


